# Dependências
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Variáveis de ambiente
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store
*.sublime-workspace

# Build
dist/
build/
out/

# OS
Thumbs.db
.DS_Store

# Logs
logs/
*.log

# Vercel
.vercel
